
@import url('https://fonts.cdnfonts.com/css/br-cobane');
@import url('https://fonts.cdnfonts.com/css/lt-eyesight');
@import url('https://fonts.cdnfonts.com/css/air-black');
@import url('https://fonts.cdnfonts.com/css/druk-trial');
 @import url('https://fonts.cdnfonts.com/css/druk-wide-bold');
@import url('https://fonts.cdnfonts.com/css/typeface-mario-world-pixel-filled');
@import url('https://fonts.cdnfonts.com/css/pixel-freaks');
 @import url('https://fonts.cdnfonts.com/css/m23-hydrant-special'); 
 @import url('https://fonts.cdnfonts.com/css/denne-delica');
 /* for the body */
 @import url('https://fonts.cdnfonts.com/css/folklore');
   @import url('https://fonts.cdnfonts.com/css/monster-friend-back');
  @import url('https://fonts.cdnfonts.com/css/sheko-personal-use-only');
         @import url('https://fonts.cdnfonts.com/css/maxtune');
                @import url('https://fonts.cdnfonts.com/css/sigmar');

                



 /* font-family: 'M23_HYDRANT SPECIAL', sans-serif; */
/* font-family: 'Druk Trial', sans-serif; */
/* font-family: 'BR Cobane', sans-serif; */                                               
/* 'LT Eyesight', sans-serif; */
/* font-family: 'Air-Heavy', sans-serif; */
 /* font-family: 'Druk Wide Bold', sans-serif; */
 /* font-family: 'Typeface Mario World Pixel Filled', sans-serif; */
 /* font-family: 'Typeface Mario World Pixel Outline', sans-serif; */
/* font-family: 'Denne Delica', sans-serif; body 
  font-family: 'Folklore', sans-serif; */
 /* font-family: 'Monster Friend Back', sans-serif;
  font-family: 'Monster Friend Fore', sans-serif; */
        


.bawdy{
      background-image: url('donut.png'),url('donut.png'),url('donut.png') ;
        background-size: 5em,5em,5em;
		background-position: center;
        background-repeat: no-repeat;
        z-index: 100;
    
}



.info {

  position: absolute;
  line-height: 20px;
  font-size: 14px;
  left: 20px;
  top: 20px;
}



.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  border-radius:em;
  width: 100%;
  height: 6em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  z-index: 1;


}


.sidebar nav a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 18px;
  padding: 8px 15px;
  border-radius: 8px;
}

.sidebar nav a:hover {
  transform: scale(1.05);
}

.circle-button {
  position: fixed;
  top: 5px;
filter: blur(none);
  left: 3em;
  display: inline-block;
  background-color: rgb(255, 217, 0);
  border-radius: 50%;
  padding: 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  z-index: 1100;
}

.circle-button:hover {
  background-color: rgba(255, 113, 175 );
  transform: scale(1.1);
}

.circle-button img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
}


.square-button {	
text-align: center;
position: fixed;
top: 14px;
  left: 15em;
filter: blur(none);
  display: inline-block;
  background-color: rgb(82, 111, 255);
  color: black;
  border-radius: 50%;
  width: 5%;
  height:5%;
  padding: 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;

}

.square-button:hover {
	  font-family: 'maxtune', sans-serif;
  background-color: rgba(255, 113, 175 );
  transform: scale(1.1);
}


.sound-button {
position: fixed;
left:12em;
  margin-top: .5em;
  background-color: rgb(255, 211, 18);
  border: solid rgb(255, 211, 18);
  border-radius: 20%;
  width: 6em;
  padding: -5px;

  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


.sound-button:hover {
  background-color: rgb(255, 251, 16);
  transform: scale(1.1);
}

.sound-button img {
  background-color: rgb(255, 232, 24);
  width: 70px;
  height: 65px;
  border-radius: 50%;
  padding: -5em;
  display: block;
}







.warning {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
	width: max-content;
	text-align: center;
	max-width: 90vw;
	margin: auto;
	z-index: 2;
	color: ivory;
}


@layer orig {
	:root {
		--text-color: ivory;
		--bg-color: black;
	}

	html {
		max-width: 150vw;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		   font-family: maxtune;   
     
	}







	body {
 
		color: var(--text-color);
		background: var(--bg-color);
		transition: 0.3s ease-out;
		overflow-x: hidden;
		max-width: 150vw;
		width: 150%;
		overscroll-behavior: none;
         
  }


	}

	.container section {
		min-height: 100vh;
		width: 100%;
		max-width: 150vw;
		overflow-x: hidden;
		position: relative;
	}

	section:not(#sectionPin, .pin-wrap-sticky) {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 2rem;
		padding: 50px 10vw;
		margin: auto;
		place-items: center;
	}

	.container img {
		height: 80vh;
		width: auto;
		max-width: 100%;
		object-fit: cover;
	}

	.container h1 {
		font-size: clamp(3rem, 10vw + 3rem, 8rem);
		line-height: 1;
		font-weight: 800;
		margin-bottom: 1rem;
		position: absolute;
		top: 10vw;
		left: 10vw;
		z-index: 4;
		overflow-wrap: break-word;
		hyphens: auto;
	}
	.container h1 span {
		display: block;
	}

	.container h2 {
		font-size: 2rem;
		max-width: 400px;
	}

	.credit a {
		color: var(--text-color);
	}

	.container * {
		box-sizing: border-box;
	}

	#sectionPin {
		height: 10s0vh;
		display: flex;
		background: var(--text-color);
		color: var(--bg-color);
/* 		overflow: scroll; */
	}

	.pin-wrap {
		height: 100vh;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 50px 10vw;
	}

	.pin-wrap > * {
		min-width: 80vmax;
		padding: 0 5vmax;
	}



@supports(animation-timeline: view()) {
			@keyframes move {
				to {
					transform: translateX(calc(-100% + -20vw));
				}
			}

			#sectionPin {
			
				height: 500vh;
				overflow: visible;

				view-timeline-name: --section-pin-tl;
				view-timeline-axis: block;
			}

			.pin-wrap-sticky {
				/* Stick to Top */
				height: 100vh;
				position: sticky;
				top: 0;

				width: 100vw;
				overflow-x: hidden;
			}

			.pin-wrap {
				height: 100vh;
				width: 250vmax;

				/* Hook animation */
				will-change: transform;
				animation: linear move forwards;

				/* Link animation to view-timeline */
				animation-timeline: --section-pin-tl;
				animation-range: contain 0% contain 100%;
			}
		}


.cards-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: max-content;
  padding: 0 10vw;
}

.card {
  width: 220px;
  height: 280px;
  perspective: 1000px;
  cursor: pointer;
  flex-shrink: 0; 
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: maxtune;
}

.card-front.bk {
  background: #2ac1f7;
  color: black;
  border: 2px solid #e5e7eb;
 background-image: url('racoon.png');
  background-size: cover;
 background-repeat: no-repeat;
  background-position: center;
  color: white
}

.card-front.mira {
 background: #2ac1f7;
color: black;
border: 2px solid #e5e7eb;
background-image: url('mira.png');
background-size: 21em;
background-repeat: no-repeat;
background-position: center;
background-position-x: -1em;
background-position-y: -2em;
color: white
}

.card-front.chef {
 background: #2ac1f7;
color: black;
border: 2px solid #e5e7eb;
background-image: url('cook.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
color: white
}

.card-front.coco {
 background: #2ac1f7;
color: black;
border: 2px solid #e5e7eb;
background-image: url('croc.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
color: white
}
.card-front.coy {
 background: #2ac1f7;
color: black;
border: 2px solid #e5e7eb;
background-image: url('coy.png');
background-size: 35em;
background-repeat: no-repeat;
background-position: center;
color: white
}



.card-front.potter {
 background: #2ac1f7;
color: black;
border: 2px solid #e5e7eb;
background-image: url('potter2.png');
background-size: 35em;
background-repeat: no-repeat;
background-position: center;
color: white
}



.card-front.pup {
 background: #2ac1f7;
color: black;
border: 2px solid #e5e7eb;
background-image: url('pup.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
color: white
}

.card-front.possum {
 background: #2ac1f7;
color: black;
border: 2px solid #e5e7eb;
background-image: url('possum.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
color: white
}
.card-front.morsel {
 background: #2ac1f7;
color: black;
border: 2px solid #e5e7eb;
background-image: url('morsel.png');
background-size: 52em;
background-repeat: no-repeat;
background-position: center;
background-position-y: -1em;
color: white
}





.card-front.kevin {
 background: #2ac1f7;
color: black;
border: 2px solid #e5e7eb;
background-image: url('mira.png');
background-size: 35em;
background-repeat: no-repeat;
background-position: center;
background-position-y: -32em;
background-position-x:-3em;

color: white;
}


.card-front.king {
 background: #2ac1f7;
color: black;
border: 2px solid #e5e7eb;
background-image: url('king.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-position-x: -3em;

color: white;

}

.bkstv {
  width: 10em;      
  height: 15em;      
  display: block;     
  margin: 20px auto;  
}



.card-back {
	font-family: maxtune;
  background: rgb(0, 0, 0);
  color: rgb(255, 252, 226);
  transform: rotateY(180deg);
}






#myAudio {
  position: sticky;
  top: 1em;
  bottom: 50em;
  width: 30%;
margin-top: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 7em;
  padding: 7px;
  z-index: 50;
  margin-left: 48em;

}

#myAudio::-webkit-media-controls-play-button {
  background-color: #0080ff;
  border-radius: 70%;
  padding: 3px;
}

#myAudio::-webkit-media-controls-timeline {
  background-color: #ffd000;
  border-radius: 5em;
  width: 15em;
}


.bkstv-bkcard {
  flex: 0 0 auto;      /* keeps it inline in horizontal scroll */
  width: 100px;         /* same width as other cards */
  height: 250px;        /* same height as other cards */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;  /* optional, to match other cards */
  border-radius: 10px;
}