
@import url('https://fonts.cdnfonts.com/css/br-cobane');
@import url('https://fonts.cdnfonts.com/css/lt-eyesight');
@import url('https://fonts.cdnfonts.com/css/air-black');
@import url('https://fonts.cdnfonts.com/css/druk-trial');
 @import url('https://fonts.cdnfonts.com/css/druk-wide-bold');
@import url('https://fonts.cdnfonts.com/css/typeface-mario-world-pixel-filled');
@import url('https://fonts.cdnfonts.com/css/pixel-freaks');
 @import url('https://fonts.cdnfonts.com/css/m23-hydrant-special'); 
 @import url('https://fonts.cdnfonts.com/css/denne-delica');
 /* for the body */
 @import url('https://fonts.cdnfonts.com/css/folklore');
   @import url('https://fonts.cdnfonts.com/css/monster-friend-back');
  @import url('https://fonts.cdnfonts.com/css/sheko-personal-use-only');

         @import url('https://fonts.cdnfonts.com/css/maxtune');
                
                
                
   @import url('https://fonts.cdnfonts.com/css/rubik-2');             

                



 /* font-family: 'M23_HYDRANT SPECIAL', sans-serif; */
/* font-family: 'Druk Trial', sans-serif; */
/* font-family: 'BR Cobane', sans-serif; */                                               
/* 'LT Eyesight', sans-serif; */
/* font-family: 'Air-Heavy', sans-serif; */
 /* font-family: 'Druk Wide Bold', sans-serif; */
 /* font-family: 'Typeface Mario World Pixel Filled', sans-serif; */
 /* font-family: 'Typeface Mario World Pixel Outline', sans-serif; */
/* font-family: 'Denne Delica', sans-serif; body 
  font-family: 'Folklore', sans-serif; */
 /* font-family: 'Monster Friend Back', sans-serif;
  font-family: 'Monster Friend Fore', sans-serif; */
                                                
                                                
                                                



.donut{

width: 5em;
position: absolute;
bottom: 5em;
z-index: 5;
  animation: roll-across linear both;
  animation-timeline: view();
  animation-range: entry 80% exit 100%;
}

@keyframes roll-across {
  from {
    
    transform: translateX(-100vw) rotate(0deg);
  }
  to {
    transform: translateX(100vw) rotate(1080deg);
  }
}





body{
margin: 0;
padding: 0;
color: var(--text-color);
		background: var(--bg-color);
		transition: 0.3s ease-out;
		overflow-x: hidden;
		max-width: 150vw;
		width: 150%;
		overscroll-behavior: none;
    background-color: rgb(48, 124, 255);
  animation: bgChange linear both;
  animation-timeline: scroll();
  animation-range: 0vh 110vh;
  font-family: maxtune;
}

@keyframes bgChange {
  0% {
    background-color: rgb(48, 124, 255); 
  }
  90% {
    background-color: #4c7fff; 
  }
    100% {
    background-color: #000000; 
  }


}


h2{
  color: white;
  text-shadow:
    0 0 2px rgba(255, 255, 255, 0.6),
    0 0 5px rgba(255, 255, 255, 0.4),
    0 0 10px rgba(255, 255, 255, 0.2);
  font-family:'maxtune', sans-serif;                                           
 font-size: 165px;
position: sticky;
margin-right: 4em;
top: -2em;
text-align: center;
backdrop-filter: blur(0px);
    opacity: 1;
    transform: translateY(0);
    animation: headerScroll 1s linear both;
    animation-timeline: scroll(root);}




@keyframes headerScroll {
    0% {
      opacity: 1;
      transform: translateY(0);
      backdrop-filter: blur(px);
    }
    7.2% {
      opacity: 0;
      transform: translateY(-20px);
      backdrop-filter: blur(70px);
    }
     100% {
      opacity: 0;
      transform: translateY(-20px);
      backdrop-filter: blur(100px);
    }

  }






.info {
  font-family: monospace;
  position: absolute;
  line-height: 20px;
  font-size: 14px;
  left: 20px;
  top: 20px;
}



.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  border-radius:1em;
  width: 100%;
  background-color: none; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  z-index: 1;
}


.sidebar nav a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 18px;
  padding: 8px 15px;
  border-radius: 8px;
}

.sidebar nav a:hover {
  transform: scale(1.05);
}

.circle-button {
  position: fixed;
  top: 5px;
filter: blur(none);
  left: 3em;
  display: inline-block;
  background-color: rgb(255, 217, 0);
  border-radius: 50%;
  padding: 15px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  z-index: 1100;
}

.circle-button:hover {
  background-color: rgba(255, 113, 175 );
  transform: scale(1.1);
}

.circle-button img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
}


.sound-button {
  margin-left: -43em;
  margin-top: .5em;
  background-color: rgb(255, 211, 18);
  border: solid rgb(255, 211, 18);
  border-radius: 20%;
  width: 6em;
  padding: -5px;

  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


.sound-button:hover {
  background-color: rgb(255, 251, 16);
  transform: scale(1.1);
}

.sound-button img {
  background-color: rgb(255, 232, 24);
  width: 70px;
  height: 65px;
  border-radius: 50%;
  padding: -5em;
  display: block;
}






.scroll-wrap {
  height: 500vh;
}

.fall-wrapper {
  position: fixed;
  left: 50%;
  width: fit-content;
   transform-origin: center center;
  transform: translateX(-40%) translateY(-100%);
  animation: fall ease-in-out both;
  animation-timeline: scroll();
  animation-range: 0% 100%;
  z-index: 1;
}

.falling-img {
  width: 1000px;
 transform-origin: center center;
  animation:  ease-in-out both;
  animation-timeline: scroll();
  animation-range: 0% 100%;
} 


@keyframes fall {
  from {
    top: 0vh;   
  }
  to {
    top: 100vh;   
  }
}








#myAudio {
  position: sticky;
  top: 1em;
  width: 30%;
margin-top: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 7em;
  padding: 7px;
  z-index: 5;
  margin-left: 48em;

}

#myAudio::-webkit-media-controls-play-button {
  background-color: #0080ff;
  border-radius: 70%;
  padding: 3px;
}

#myAudio::-webkit-media-controls-timeline {
  background-color: #ffd000;
  border-radius: 5em;
  width: 15em;
}




:root {
  --font-size-h-sm: 1.3rem;
  --card-width: calc( var(--font-size-h-sm) * 10 );
  --gap-x: 5px;
  --gap-y: 18px;
  --step: 1;
}



.stack-cards-container {
 font-family: 'Rubik', sans-serif;                                              
 position: relative;
  height: 930vh;
  letter-spacing: 1px;
  line-height: 16px;
}
@media(max-width: 576px) {
  .stack-cards-container {
    position: relative;
    height: 700vh;
  }
}

h3{
    font-family: 'Maxtune', sans-serif;
    font-size:19px;  
      letter-spacing: 2px;
      line-height: 1em;
text-align: center;

}
.stack-cards {                                          
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  height: 0; 
  width: 100%;
}

.stack-cards__item {
  height: 250px;
  padding: 20px;
  background: #E2C15E;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.32);
  position: absolute;
  top: 50%; 
  left: 35%;
  width: 350px;
  border:  6px solid #E6CE5C;
  border-radius: 1.5rem;
  transform: translate(-50%, -50%);
  transition: transform 1.3s cubic-bezier(0.9, -0.2, 0.1, 1.2), 
              opacity 1.3s cubic-bezier(1, 0, 0, 1) 0s;
  will-change: opacity, transform;
  color: white;
}

.inner {
  position: relative;
  z-index: 2;
  padding: calc(var(--card-width) * .1);
  width: 100%;
  height: 100%;
   background-color: #E2C15E;
    border: 6px solid #E6CE5C;
  border-radius: 1.5rem;
}

.stack-cards__item h3 {
  color: white;
  font-weight: 500;
  margin-top: 0;
}

.stack-cards__item p {
  font-weight: 300;
}

.stack-cards__item .counter {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: WHITE;
    font-size: 12px;
    letter-spacing: .1em;
    text-align: center;
}

.shadow {
    position: absolute;
    top: .5rem;
    left: .5rem;
    z-index: 1;
    width: 100%;
    height: 100%;
   background-color: #E2C15E;
    border: 6px solid #E6CE5C;
    border-radius: 1.5rem;
}

.stack-cards__item.slide-up {
  transform: translate(-50%, -260%);
}

.flex {
  display: flex;
  font-size: 1.5rem;
}

.flex-center {
  justify-content: center;
  align-items: center;
}



.button {
  position: relative;
  bottom: 1em;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  background-color: #111;
  text-decoration: none;
  padding: 12px 24px;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  border-radius: 8px;
  transition: color 0.3s ease;
  z-index: 1;
}





.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%; 
  width: 0;
  height: 100%;
  background-color: #333;
  z-index: -1;
  transition: all 0.5s ease;
  transform: translateX(-50%);
     animation: expandPulse 2s ease-in-out infinite;
}
@keyframes expandPulse {
  0%, 100% {
    width: 0;
  }
  50% {
    width: 100vw;
  }
}


.button:hover::before {
  width: 200vw;
}

.button:hover {
  color: #fff;
}


	